<div id="nav-popup-error">
    <div style="position: relative; float:right">
        <button id="nav-closePopup-error" style="position: relative; float: right; font-size: 30px; top: -10px; background: none; color: inherit; border: none; padding: 0; cursor: pointer; outline: inherit; right: 20px; top: 10px">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div style="margin-top: 100px; padding-top: 20px; padding-right: 20px; padding-left: 20px; background-color: white">
        <h2>Error Detector</h2>
        <!--@*<button id="retrySync" class="tableIcon" style="right: 40px; font-size: 35px">
            <i class="fas fa-sync-alt" title="Retry Sync SO"></i>
        </button>*@-->
        <table id="ErrTable-nav" class="table tabel-striped table-bordered display compact" style="font-size: 12px; width: 100%;">
            <thead>
                <tr style="background-color: #DEF5FC">
                    <th>Action</th>
                    <th>Error Type</th>
                    <th>PO Number</th>
                    <th>Customer</th>
                    <th>Market SKU</th>
                    <th>Detail</th>
                    <!--@*
                    <th>Solved</th>*@-->
                    <th>Created Time</th>
                    <!--@*
                    <th>Resolved Time</th>*@-->
                </tr>
            </thead>
        </table>
    </div>
</div>