@*
  For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<div style="text-align:center">
  <h1>Bye~! Thank you for using Chameleon!</h1>
  <br />
  <br />
  <img src="~/img/Chameleon_Bye.gif" alt="Denied" width="595" height="595">
</div>