@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Reset My Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>&nbsp;&nbsp;&nbsp;@ViewData["Title"]</h1>
<br/>
<div class="border container" style="padding:30px; font-size:16px">
  <div class="card" style="width: 100%; ">
    <div class="card-header">
      Please type your email and click 'Send' button
    </div>
    <div class=" form-group row" style="padding:20px;">
      <table style="width:100%">
        <tbody>
          <tr>
            <td>Email :</td>
            <td colspan="3">
              <input type="text" id="emailForTmpPwd" name ="emailForTmpPwd" class="form-control" style="font-size:14px" />
            </td>
            <td><button type="button" id="sendEmailTmpPassword" name="sendEmailTmpPassword" class="btn btn-primary">Send</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class=" form-group row">
      <div style="float:left">
        <p id="responseText" name="responseText" style="color:red; font-size:20px"></p>
      </div>
    </div>
  </div>
</div>

@section Scripts{
    <script>
        function lastmod() { }
    </script>
    <script src="~/js/Account/ResetMyPassowrd.js">
    </script>
}