@model Chameleon.DTOs.Inventory.GetInventoryItemDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GetInventoryItemDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemNoId" class="control-label"></label>
                <input asp-for="ItemNoId" class="form-control" />
                <span asp-validation-for="ItemNoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtyOnHand" class="control-label"></label>
                <input asp-for="QtyOnHand" class="form-control" />
                <span asp-validation-for="QtyOnHand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtyAvail" class="control-label"></label>
                <input asp-for="QtyAvail" class="form-control" />
                <span asp-validation-for="QtyAvail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocId" class="control-label"></label>
                <input asp-for="LocId" class="form-control" />
                <span asp-validation-for="LocId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocName" class="control-label"></label>
                <input asp-for="LocName" class="form-control" />
                <span asp-validation-for="LocName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
