
@{
  ViewData["Title"] = "Inventory Feeds";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>&nbsp;&nbsp;@ViewData["Title"] - Wayfair</h1>
<input type="hidden" id="historyDateHidden" name="historyDateHidden" />

<br />
<div class="invFeed-container">
  <div class="col-6">
    <div>
      <h2 class="text-info">Wayfair Inventory Feeds</h2>
      <h7><p id="invFeedsRepDate"></p></h7>
    </div>

    <div style=" padding-top: 10px">
      Past Feeds: <input type="text" id="historyDatePicker">
      <button id="reloadWayfairFeedsHistory"> reload</button>
    </div>
  </div>
  <div class="col-12 border p-3">

    <table id="invFeedsWayfairItems" class="table tabel-striped table-bordered display compact" style="width:100%; font-size: 10px;">
      <thead>
        <tr style="font-size: 10px;">
          <th>Supplier ID</th>
          <th>Supplier Part#</th>
          <th>Quantity On Hand</th>
          <th>Quantity Backordered</th>
          <th>Quantity On Order</th>
          <th>Item Next Availability Date</th>
          <th>Discontinued</th>
          <th>Product Name / Options</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<div class="modal"><!-- For waiting indicator--></div>

@section Scripts{
  <script>
    function lastmod() { }
  </script>
  <script src="~/js/InvFeedsWayfairList.js">
  </script>
}